.button {
  background-color: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  min-width: 108px;
  max-height: 4.2rem;

  &:disabled {
    background: $off-white;
    color: $border-grey;
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.button__container {
  display: flex;
  float: right;
  justify-content: space-between;
  max-width: 60rem;
  min-width: 20rem;
}
