.content-container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 $l-size;
}

.content-container--card {
  border: 1px solid $border-grey;
  max-width: 60rem;
  margin: $xl-size auto;
  padding: 0 $l-size;
  padding-bottom: $xl-size;
}

.content-container--card__title {
  @extend .content-container--card;
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;
  border-right: none;
  border-left: none;
  max-width: none;
  padding-bottom: 0;
}

.content-container--subcontainer {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  max-width: 55rem;
}

.content-container--subcontainer--item {
  padding: 0 $m-size;
}

.content-container--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999 !important;
}

.content-container--whatif {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 $l-size;
  max-width: 120rem;
  margin: 0 auto;
  @media(min-width: $scenario-breakpoint) {
    flex-direction: row;
  }
}

// .content-container--card.show {
//   transition: 10s ease-in;
//   opacity: 1;
//   visibility: visible;
// }
