// shadows https://codepen.io/sdthornton/pen/wBZdXq
.form {
  display: flex;
  flex-direction: column;

  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
  color: red;
}

.form-header {
  margin-top: $l-size;
  padding: $l-size 0;
}

.form-header__actions {
  margin-top: $m-size;
}

.form-header__title {
  font-weight: 300;
  margin: 0;

  span {
    font-weight: bold;
  }
}

.form-header__subtitle {
  font-weight: 300;
  margin: 0; // font-style: italic;

  p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.shadow {
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}

.shadow--light {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}
