.list-header {
  // border-bottom: 1px solid darken($off-white, 7%);
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
  margin-top: 3.2rem;
}

.list-header__clickable {
  @extend .list-header;
  cursor: pointer;
  &:hover {
    background: #f0f0f0;
  }
}

.list-header-title {
  font-weight: 300;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.list-body {
  margin-bottom: $m-size;
  @media(min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: $m-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__solotitle {
  word-break: break-all;
}

.list-item__title {
  @extend .list-item__solotitle;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.list-item__subtitle {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: 0; // flex-direction: column;
}

.clicked {
  background: $off-white;
}
